.section {
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 48px;
  height: 100%;
  margin-bottom: 48px;
  &__wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    &__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 48px;
      margin-top: auto;
      & .button {
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 30px #ff0000;
      }
    }
  }
}

.visual-box {
  height: 100%;
  padding: 0 32px 0 28px;
  &__image {
    @extend .app__box;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(4px 4px 40px rgba(255, 0, 0, 0.9));
  }
}

.mode-info {
  @extend .app__box;
  background-color: $color-primary;
  max-width: 1200px;
  text-align: center;
  border-radius: $border-radius;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    4px 4px 40px rgba(255, 0, 0, 0.9);
  &__heading {
    @extend .text__lg--centered;
    margin: 0;
    color: $text-color-primary;
  }
}

.rules {
  @extend .mode__container--active;
  &-header {
    @extend .text__lg--centered;
    font-weight: 500;
    margin: 0 0 24px;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    margin: 0;
    font-weight: 500;
    &-icon {
      margin-right: 2rem;
    }
  }
  &-icon {
    margin-right: 1rem;
  }
  &-text {
    @extend .text__md;
  }
}

.answers {
  display: grid;
  column-gap: 32px;
  row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: auto;
  margin-top: 42px;
  &__text {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.button {
  @extend .text__lg--centered;
  position: relative;
  border-radius: $border-radius;
  border: 0;
  height: 2em;
  background-color: $color-primary;
  color: $text-color-primary;
  text-align: center;
  cursor: pointer;
  &:disabled {
    &:hover {
      box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 30px #ff0000;
      cursor: not-allowed;
    }
  }
  &__app {
    @extend .button;
    &--start {
      @extend .button--red;
      background: rgba(255, 0, 0, 1);
    }
  }

  &__answer {
    background-color: $color-primary;
    min-height: 80px;
    margin-bottom: 16px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 30px #ff0000;
    &--success {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 30px #51fc00;
      background-color: $color-correct;
    }
    &--fail {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 30px $color-fail;
      background-color: $color-fail;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 8%; //check!
    transform: translateY(-50%);
  }

  &--red {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 30px #ff0000;
    background-color: $color-fail;
    color: $color-primary;
    text-transform: uppercase;
  }

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.99);
  }
}

.remaining-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  width: 100%;
  bottom: 2rem;
  left: 0;
  grid-column: 1/3;
  padding-left: 10px;
  &__counter {
    @extend .text__lg;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      4px 4px 40px rgba(255, 0, 0, 0.9);
    color: rgba(255, 0, 0, 0.8);
  }
}

.lightsaber {
  display: flex;
  order: -1;
  align-items: center;
  flex-basis: 100%;

  &__handle {
    z-index: -1;
    height: 50px;
    width: 300px;
    background: url('../static/assets/ui/LightsaberHandle.png')
      no-repeat center;
    transform: translateX(7%);
    background-size: contain;
  }

  &__blade {
    flex-basis: 100%;
    height: 18px;
    background-color: #bcbcbc;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: $border-radius / 2;

    &--active {
      height: inherit;
      background: $color-primary;
      box-shadow: 10px -5px 15px #ff0000, 10px 5px 15px #ff0000,
        inset 0px 5px 4px rgba(255, 0, 0, 0.25);
      border-radius: $border-radius / 2;
    }
  }
}

.scores {
  @extend .mode__container--active;

  &__header {
    @extend .text__lg--centered;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    margin: 0;
    font-weight: 500;
    &-icon {
      margin-right: 2rem;
      height: 2rem;
    }
  }

  &__table {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;

    &-cell {
      @extend .text__md;
      margin: 0;
      text-align: center;
      &:nth-of-type(3n + 1) {
        text-align: left;
      }

      &--bold {
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

@include xlg {
  .section {
    grid-template-columns: 360px 1fr;
    margin-bottom: 32px;
  }
  .mode-info__heading {
    padding: 16px;
  }
}
@include lg {
  .section {
    grid-template-columns: 320px 1fr;
    column-gap: 16px;
    &__wrapper {
      & > div {
        border-radius: 8px;
      }
      &__buttons > button,
      .button__answer {
        border-radius: 8px;
      }
    }
  }
  .button__answer {
    min-height: 62px;
  }
  .visual-box {
    &__image {
      border-radius: 8px;
      max-height: 320px;
    }
  }
  .section__wrapper__buttons > .button {
    &:first-child {
    }
  }
}
@include md {
  .section {
    column-gap: 0;
    grid-template-columns: 260px 1fr;
    margin-bottom: 32px;
    &__wrapper {
      &__buttons {
        column-gap: 32px;
      }
    }
  }

  .visual-box {
    padding-left: 0;
    max-height: calc(100% - 32px);
    &__image {
      box-shadow: 0px 2px 2px rgb(0 0 0 / 25%),
        2px 2px 20px rgb(255 0 0 / 90%);
      filter: unset;
    }
  }
  .mode-info {
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%),
      2px 2px 20px rgb(255 0 0 / 90%);
  }
  .section__wrapper__buttons .button {
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%),
      2px 2px 20px rgb(255 0 0 / 90%);
  }
  .remaining-time {
    padding-left: 0;
  }
  .button__answer {
    min-height: 52px;
  }
  .lightsaber__handle {
    margin-left: -16px;
    height: 40px;
  }
}

@include sm {
  .rules-header,
  .scores__header {
    padding: 16px 0 8px;
  }
  .scores__header {
    &-icon {
      height: 1.25rem;
      margin-right: 16px;
    }
  }
  .mode-info__heading {
    padding: 12px;
  }
  .section {
    grid-template-columns: 32% 1fr;
    margin-bottom: 16px;
    &__wrapper__buttons {
      column-gap: 16px;
    }
  }
  .visual-box {
    padding-right: 16px;
  }
  .lightsaber {
    &__handle {
      display: none;
    }
    &__blade {
      height: 12px;
    }
  }
  .remaining-time {
    margin-top: 16px;
    &__counter {
      line-height: 2rem;
    }
  }
}

@include xsm {
  .section {
    &__wrapper {
      & > div,
      button,
      .button__answer {
        border-radius: 4px;
      }

      &__buttons {
        display: flex;
        flex-direction: column;
        & > button:nth-child(2) {
          margin-top: 16px;
        }
      }
    }
  }
  .visual-box__image {
    border-radius: 4px;
  }
  .answers {
    display: flex;
    flex-direction: column;
    column-gap: unset;
    row-gap: unset;
  }
  .button__answer {
    min-height: 32px;
  }
}

@include xsm-v {
  .section {
    display: flex;
    flex-direction: column;
    &__wrapper {
      &__buttons {
        & button:first-child {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .visual-box {
    padding-right: 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    &__image {
      max-height: 200px;
      width: auto;
      max-width: 75%;
      display: block;
    }
  }
  .button {
    &__icon {
      padding-right: 16px;
      transform: unset;
      position: unset;
    }
    &__answer {
      margin-bottom: 8px;
    }
  }
  .mode {
    &-info {
      & :not(:first-child) {
        font-weight: 500;
      }
      &__question {
        display: block;
        padding-top: 4px;
      }
      &__heading {
        padding: 4px;
      }
    }
    &__container--active {
      min-height: 10rem;
    }
  }
  .answers {
    margin-top: 16px;
  }
}

@include xxsm-v {
  .mode__container--active {
    min-height: 11rem;
  }
}
